html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #0e1c24;
  padding: 0 !important;
  font-family: batmanForever;
}
.navbar-brand img {
  width: 75px;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 550;
  color: #eae3d4 !important;
  border-bottom: 3px solid rgba(44, 48, 68, 0);
}
.nav--active {
  color: white !important;
}
button.navbar-toggler {
  outline: none !important;
  color: white !important;
  border: none;
  font-size: 25px;
}
.nav-link:hover,
.active > a {
  color: white !important;
  border-bottom: 3px solid #356571;
  font-weight: 600;
}
.banner {
  width: 100%;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
.banner h1 {
  text-align: center;
  padding-top: 360px;
  color: #acacac;
  font-size: 4rem;
  font-weight: 500;
  font-family: batmanForever;
  text-shadow: 0 0 10px #0aafe6, 0 0 10px rgba(10, 175, 230, 0);
}

@font-face {
  font-family: batmanForever;
  src: url(batmfa__.ttf);
}

/* timer */
#timer {
  font-family: batmanForever;
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 30%);
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}
#timer .time {
  letter-spacing: 0.05em;
  font-size: 3rem;
  padding: 5px 0;
}
@media only screen and (max-width: 576px) {
  .banner h1 {
    font-size: 3rem;
    padding-top: 350px;
  }
  #timer .time {
    font-size: 1.8rem;
  }
}
hr {
  background-color: white;
}
.btn-theme {
  color: #fff !important;
  background-color: #356571;
  border-color: #101f28;
  padding: 8px 18px;
}
.btn-badge {
  background-color: black;
  border-color: rgb(194, 191, 191);
  padding: 8px 18px;
  color: rgb(194, 191, 191);
}
.btn-discord {
  width: 17%;
  margin-top: 40px;
  cursor: pointer;
}
.btn-badge:hover {
  background-color: rgb(194, 191, 191);
  border-color: rgb(194, 191, 191);
  color: black;
}
a.disabled {
  pointer-events: none;
}
@media (max-width: 1070px) {
  .btn-discord {
    width: 20%;
  }
}
@media (max-width: 850px) {
  .btn-discord {
    width: 25%;
  }
}
@media (max-width: 630px) {
  .btn-discord {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .btn-discord {
    width: 37%;
  }
}
@media (max-width: 370px) {
  .btn-discord {
    width: 42%;
  }
}
